/**
 *  Out Of Contexts css
*/

/*View Mode*/
.region-out-of-context-1 {
  float: left;
/*  overflow: hidden;*/
  width: 49%;
} 
.region-out-of-context-2 {
  width: 49%;
  float: right;
/*  overflow: hidden;*/
}