/**
 *  Out Of Context css
*/

/* Edit layout button */
.edit-out-of-context {
  position: absolute;
  -webkit-border-radius: 0 0 0 20px;
  -moz-border-radius: 0 0 0 20px;
  border-radius: 0 0 0 20px;
  cursor: pointer;
  background-color: black;
  opacity: 0.6;
  padding: 4px 10px 4px 20px;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  right: 0;
}
.edit-out-of-context:hover {
  color: white;
  margin-right: 0;
}

/**
 * View Mode
*/

/*The anchor*/
a.context-block-region,
a.out-of-context-block-region {
  display: none;
}

/*The rigion*/
.region-out-of-context {
  margin: 2px;
}

/**
 *Editing Mode
*/

/*The region*/
body.context-editing  .region-out-of-context {
  border: 2px dashed #027AC6;
  border-radius: 3px;
  width: 44.5%;
  padding: 0 2%;
}

/*The anchor*/
body.context-editing a.out-of-context-block-region {
  display: inline-block;
  color: red; 
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 5px; 
}

/*Clear context markup*/
body.context-editing .region.context-block-region-empty a.context-block-region {
  display: none;
}

/**
* Palette
**/
#out-of-context-editor ul li {
  font-size: 11px;
  list-style: none;
  border-bottom:  1px solid #999;
  padding: 10px 0;
}
#out-of-context-editor ul li .label {
  width: 80%;
  text-align: left;
}
#out-of-context-editor ul li .links a {
  border: 1px solid #999;
  background: #ddd;
  padding: 3px 8px;
  border-radius: 3px 3px 3px 3px;
}
#out-of-context-editor .buttons input {
  border: 1px solid #999;
  background: #555;
  padding: 3px 8px;
  margin: 3px;
  border-radius: 3px 3px 3px 3px;
}
